tr {
  text-align: center;
  font-size: 14.5px;
  height: 2.5rem !important;
  box-sizing: border-box;
  &:nth-child(even) {
    background-color: #f8f8fa;
  }
}
#tb {
  border: 1.5px solid var(--border);
  border-radius: var(--radius);
}
th {
  text-align: center;
  font-size: 1vw;
  color: var(--secondary-foreground);
}
td {
  padding: 0.5em;
  font-size: 0.9rem;
  max-width: 250px;
}
