.tiptap {
  .tableWrapper {
    margin: 1.5rem 0;
    overflow-x: auto;
  }
  table {
    border-collapse: collapse;
    border-radius: 0.3rem;
    margin: 0;
    overflow: hidden;
    table-layout: fixed;
    min-width: 500px !important;
    p {
      margin: 0;
      text-align: center;
      font-size: 0.8rem;
    }
    td,
    th {
      // var(--gray-3)
      border: 1px solid #b5b5b5;
      box-sizing: border-box;
      min-width: 1em;
      padding: 0.35rem 0.5rem;
      position: relative;
      vertical-align: top;

      > * {
        margin-bottom: 0;
      }
    }

    th {
      background-color: #f5f4f3;
      font-weight: bold;
      text-align: left;
    }

    .selectedCell:after {
      background: #f5f4f3;
      content: "";
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      pointer-events: none;
      position: absolute;
      z-index: 2;
    }

    .column-resize-handle {
      background-color: rgb(0, 119, 255);
      bottom: -2px;
      pointer-events: none;
      position: absolute;
      right: -2px;
      top: 0;
      width: 4px;
    }
  }
  &.resize-cursor {
    cursor: ew-resize;
    cursor: col-resize;
  }
}
