:root {
  --background: hsl(0, 0%, 100%); // 页面或组件的背景色
  --foreground: hsl(
    222.2,
    47.4%,
    11.2%
  ); // 页面或组件的前景色，通常用于文本颜色

  --muted: hsl(210, 40%, 96.1%);
  --muted-foreground: hsl(215.4, 16.3%, 46.9%);

  --card: hsl(0, 0%, 100%); // 卡片组件的背景色
  --card-foreground: hsl(
    222.2,
    47.4%,
    11.2%
  ); // 卡片组件的前景色，通常用于卡片中的文本

  --popover: hsl(0, 0%, 100%); // 弹出框的背景色
  --popover-foreground: hsl(222.2, 47.4%, 11.2%); // 弹出框中的前景色
  --outer: hsla(0, 0%, 0%, 0.5); // 遮罩层的背景色，通常用于弹出框、模态框等

  // --border: hsla(
  //   210,
  //   14%,
  //   92%,
  //   0.453
  // ); // 通常用于输入框、按钮、卡片等的边框颜色
  --border: hsla(0, 0%, 0%, 0.1);

  --input: hsl(
    214.3,
    31.8%,
    91.4%
  ); // 输入框的背景色，通常是输入区域的默认背景色

  --primary: hsl(
    200deg,
    60%,
    94.1%
  ); // 主色调，通常用于按钮、链接、重要的 UI 元素
  --primary-foreground: hsl(
    200deg,
    62.8%,
    61%
  ); // 主色调的前景色，通常用于主色调背景上显示的文本颜色

  --secondary: hsl(
    240deg,
    4.76%,
    95.9%
  ); // 次级色调，通常用于次要按钮、链接等元素
  --secondary-foreground: hsl(
    206deg,
    6.6%,
    41.6%
  ); // 次级色调的前景色，通常用于次级背景上的文本颜色

  --accent: hsl(
    210,
    40%,
    96.1%
  ); // 强调色，通常用于强调的元素，比如高亮、选中等
  --accent-foreground: hsl(
    222.2,
    47.4%,
    11.2%
  ); // 强调色的前景色，通常用于强调背景上的文本

  --destructive: hsl(
    210,
    40%,
    98%
  ); // 销毁色，通常用于危险或破坏性操作按钮，如删除按钮
  --destructive-foreground: hsl(
    0,
    88.2%,
    76.7%
  ); // 销毁色的前景色，通常用于销毁按钮上的文本

  --ring: hsl(
    215,
    20.2%,
    65.1%
  ); // 用于设置焦点环的颜色，通常应用于按钮、输入框等获得焦点时的高亮效果

  --radius: 0.5rem; // 圆角半径
  // --avatar: 3.125rem; //头像宽度
  --avatar: 2.5rem;
  --padding: 0.625rem 3.4rem;
  --mobile-padding: 0.5rem 1rem;
  --scrollbar-width: 0.8rem;
  --scrollbar-height: 0.8rem;
  --vis-text-color: 210, 10%, 23%;
  --vis-tooltip-background-color: none !important;
  --vis-tooltip-border-color: none !important;
  --vis-tooltip-text-color: none !important;
  --vis-tooltip-shadow-color: none !important;
  --vis-tooltip-backdrop-filter: none !important;
  --vis-tooltip-padding: none !important;

  --vis-primary-color: 210, 10%, 23%;
  /* change to any hsl value you want */
  --vis-secondary-color: 160 81% 40%;
}
