:root {
  --background: white;
  --foreground: #0f172a;
  --muted: #f1f5f9;
  --muted-foreground: #64748b;
  --card: white;
  --card-foreground: #0f172a;
  --popover: white;
  --popover-foreground: #0f172a;
  --outer: rgba(0, 0, 0, 0.5);
  --border: rgba(0, 0, 0, 0.1);
  --input: #e2e8f0;
  --primary: #e7f3f9;
  --primary-foreground: #5db0da;
  --secondary: #f4f4f5;
  --secondary-foreground: #636b71;
  --accent: #f1f5f9;
  --accent-foreground: #0f172a;
  --destructive: #f8fafc;
  --destructive-foreground: #f88f8f;
  --ring: #94a3b8;
  --radius: 0.5rem;
  --avatar: 3.125rem;
  --padding: 0.625rem 3.4rem;
  --mobile-padding: 0.5rem 1rem;
  --scrollbar-width: 2px;
  --vis-text-color: 210, 10%, 23%;
  --vis-tooltip-background-color: none !important;
  --vis-tooltip-border-color: none !important;
  --vis-tooltip-text-color: none !important;
  --vis-tooltip-shadow-color: none !important;
  --vis-tooltip-backdrop-filter: none !important;
  --vis-tooltip-padding: none !important;
  --vis-primary-color: 210, 10%, 23%;
  /* change to any hsl value you want */
  --vis-secondary-color: 160 81% 40%;
}
